:root{
  --bg-color: rgb(238, 238, 238);
  --bg-yellow: rgb(246, 203, 78);
  --light-text-col: rgb(238, 238, 238);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bg-color);
}

/* logo / nav */

.container{
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  z-index: 99%;
  padding: 16px 32px;

  position: fixed;
  top: o;
  left: 0;
  right: 0;
  z-index: 99%;
}
.container h1{
  color: var(--light-text-col);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}
.menu a{
  color: var(--light-text-col);
  padding: 8px 16px;
  margin: 0 8px;
}

.menu{
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-end;
  margin: 0 -8px;
}


@media only screen and (max-width: 600px) {
  .container h1{
    font-size: 20px;
  }
  .menu a{
    padding: 5px;
  }
}