:root{
  --bg-color: rgb(238, 238, 238);
  --bg-yellow: rgb(246, 203, 78);
  --light-text-col: rgb(238, 238, 238);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bg-color);
}

/* logo / nav */
.nav-bar{
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 16px 32px;

  top: o;
  left: 0;
  right: 0;
  z-index: 99%;
}
.nav-bar h1{
  color: var(--light-text-col);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}
.menu a{
  color: var(--light-text-col);
  padding: 8px 16px;
  margin: 0 8px;
}

.menu{
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-end;
  margin: 0 -8px;
}

/* hero banner */
#hero-banner{
  background-color: var(--bg-yellow);  
  height: 650px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  padding-top: 12px;
}
.intro-text{
  padding-top: 15px;
  width: 100%;
}
.intro-text h2{
  font-size: 30px;
}
.intro-text p{
  font-size: 16px;
}
.banner-image{
  height: 85%;
  width: 40%;
  background-image: url("../images/astro2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* about me */
#about{
  background-color: rgb(149, 140, 246);
  padding: 20px;
  color: var(--light-text-col);
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-image{
  height: 250px;
  width: 600px;
  border: 1px black solid;
  border-radius: 12px;
  margin: 50px;
  background-color: var(--bg-color);
  background-image: url("../images/avatar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#about-heading{
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-text p{
  margin-right: 50px;
}
button{
  border: solid 1px;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  text-transform: uppercase;
  font-size: 16px;
  background-color: var(--bg-color);
  margin-top: 20px;
}



/* portfolio container */
#sub-heading{
  display: flex;
  justify-content: space-around;
}
#sub-heading h3{
  font-size: 25px;
  text-transform: uppercase;
  padding: 25px 0 10px 0;
}
#portfolio-section {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "project1 project1 project2"
  "project1 project1 project3"
  "project4 project5 project6";
}
#project1 {
  grid-area: project1;
  background-image: url("../images/01-project.png");
}
#project2 {
  grid-area: project2;
  background-image: url("../images/02-app.png");
}
#project3 {
  grid-area: project3;
  background-image: url("../images/03-magazine.png");
}
#project4 {
  grid-area: project4;
  background-image: url("../images/04-travel-app.png");
}
#project5 {
  grid-area: project5;
  background-image: url("../images/05-magazine.png");
}
#project6 {
  grid-area: project6;
  background-image: url("../images/06-dashboard.png");
}
.portfolioGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 15px;
  cursor: pointer;
  display: grid;
  align-content: end;
  border-radius: 12px;
  border: 1px solid;
}
.heading{
  background-color: black;
  padding: 5px;
  color: var(--light-text-col);
  font-size: 14px;
  border-radius: 0 0 12px 12px;
  text-transform: uppercase;
  padding: 5px 20px ;
}
#port-button{
  display: flex;
  justify-content: space-around;
}
#port-button p{
  color: black;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  background-color: var(--bg-color);
  padding: 10px;
  width: 150px;
  border: solid 1px black;
  border-radius: 5px;
  margin: 15px 0 35px 0;
}



/* contact */
#contact{
  background-color: var(--bg-yellow);
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact h2{
  padding-bottom: 10px;
}
#contact h2 p{
  color: black;
  padding: 45px;
}


/* footer */
#footer{
  width: auto;
  height: 50px;
  background-color: black;
  color: var(--light-text-col);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#contact-info{
  display: flex;
  justify-content: flex-end;
} 
#contact-info p{
  border-bottom: 1px white;
  padding: 20px;
}


/* responsive */
@media only screen and (max-width: 1000px) {
  .banner-image{
    height: 80%;
    width: 55%;
  }
  #portfolio-section {
    grid-template-rows: 300px 300px 300px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "project1 project2"
    "project3 project4"
    "project5 project6";
  }
}

@media only screen and (max-width: 600px) {
  .container h1{
    font-size: 18px;
  }
  .menu a{
    padding: 5px;
  }
  #hero-banner{
    height: 500px;
    width: 100%;
    padding-bottom: 80px;
  }
  .banner-image{
    height: 100%;
    width: 70%;
  }
  #about{
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .profile-image{
    height: 40%;
    width: 70%;
    margin: 15px;
  }
  .about-text p{
    margin: 15px
    }
  #portfolio-section {
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4"
      "project5"
      "project6"
  }
  #footer p{
    font-size: 14px;
  }
  #contact{
    padding: 0 50px;
  }
}