:root{
  --bg-color: rgb(238, 238, 238);
  --bg-yellow: rgb(246, 203, 78);
  --light-text-col: rgb(238, 238, 238);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--bg-color);
}

/* logo / nav */

.nav-bar{
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  z-index: 99%;
  padding: 16px 32px;

  top: o;
  left: 0;
  right: 0;
  z-index: 99%;
}
.nav-bar h1{
  color: var(--light-text-col);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 2px;
}
.menu a{
  color: var(--light-text-col);
  padding: 8px 16px;
  margin: 0 8px;
}

.menu{
  flex: 1 1 0%;
  display: flex;
  justify-content: flex-end;
  margin: 0 -8px;
}

/* hero banner */

#hero-banner{
  background-color: var(--bg-yellow);  
  height: 600px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  padding-top: 12px;
}
.intro-text{
  padding-top: 15px;
  width: 100%;
}
.intro-text h2{
  font-size: 30px;
}
.intro-text p{
  font-size: 16px;

}
.banner-image{
  height: 85%;
  width: 40%;
  background-image: url("../images/astro2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* responsive */
@media only screen and (max-width: 1000px) {
  .banner-image{
    height: 80%;
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  .container h1{
    font-size: 18px;
  }
  .menu a{
    padding: 5px;
  }
  #hero-banner{
    height: 500px;
    width: 100%;
    padding-bottom: 80px;
  }
  .banner-image{
    height: 100%;
    width: 70%;
  }
}